{% include "AppBundle:Emails:headers/_header-goal.html.twig" %}
<table width="650" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="content deviceWidth">
    <tbody>
    <tr>
        <td align="center">
            <img src="{{ base_url ~ asset('bundles/app/images/emails/sk-budget.png') }}"/>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p class="title">{{ 'Mission Accomplished'|trans }}</p>
            <p class="sub-title">*|{{ campaignName }}|* {{ 'Has Reached Its Goal'|trans }}</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>{{ 'Your campaign has reached its goal of'|trans }} [{{ goal }}].</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a class="btn btn-success" href="{{ path('get_campaign', {'id':campaignId}) }}" target="_blank">{{ 'See The Results'|trans }}</a>
        </td>
    </tr>
    </tbody>
</table>
{% include "AppBundle:Emails:_pre-footer.html.twig" %}
{% include "AppBundle:Emails:_footer.html.twig" %}